/**
 * @author Jimmy Berry ("boombatower", http://drupal.org/user/214218)
 */

#edit-submit-conduit-group-user, #edit-submit-conduit-group, #edit-submit-conduit-job, #edit-submit-conduit-usage {
  margin-top: 0;
}

#views-exposed-form-conduit-usage-page #edit-timestamp-op {
  width: 135px;
}

.view-conduit-job .views-field-title {
  width: 200px;
}

.view-conduit-job .views-field-entity-id-3 {
  width: 50px;
  text-align: center;
}

.view-conduit-job td.views-field-entity-id-3 {
  background-image: url('images/status-active-small.png');
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  height: 22px;
  width: 22px;
  margin: auto;
}
.view-conduit-job .conduit-status-1 .views-field-entity-id-3 {
  background-image: url('images/status-setup-small.png');
}
.view-conduit-job .conduit-status-2 .views-field-entity-id-3 {
  background-image: url('images/status-fail-small.png');
}
.view-conduit-job .conduit-status-3 .views-field-entity-id-3 {
  background-image: url('images/status-pass-small.png');
}

.conduit-meta {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  margin-bottom: 20px;
  padding: 10px;
  height: 48px;
}

/* Set all icons to 48x48 */
.conduit-icon {
  width: 48px;
  height: 48px;
}

#conduit-meta-status {
  float: left;
}

#conduit-meta-status.conduit-active {
  background-image: url('images/status-active.png');
}
#conduit-meta-status.conduit-setup {
  background-image: url('images/status-setup.png');
}
#conduit-meta-status.conduit-fail {
  background-image: url('images/status-fail.png');
}
#conduit-meta-status.conduit-pass {
  background-image: url('images/status-pass.png');
}

#conduit-chunks {
  float: left;
  height: 48px;
  margin-left: 10px;
}

#conduit-chunks > div {
  width: 100px;
  border: 1px solid #cccccc;
  background-color: white;
}

#conduit-chunks > div:nth-child(2) {
  margin-top: 1px;
}

#conduit-chunks > div > div:nth-child(1) {
  float: left;
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 21px;
}

#conduit-chunks > div > div:nth-child(2) {
  background-color: #eeeeee;
  height: 21px;
}

.conduit-meta div.form-item {
  float: left;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 10px;
}

#conduit-actions {
  float: right;
}

#conduit-actions .conduit-icon {
  float: left;
  margin: 0 3px;
}

#conduit-revision-current {
  background-image: url('images/revision-current.png');
}
#conduit-revision-previous {
  background-image: url('images/revision-previous.png');
}
#conduit-revision-next {
  background-image: url('images/revision-next.png');
}
#conduit-group-previous {
  background-image: url('images/group-previous.png');
}
#conduit-group-next {
  background-image: url('images/group-next.png');
}

/* Override default form padding and margin */
.conduit-meta form {
  float: left;
  margin-bottom: 0;
}

/* http://gradients.glrzad.com/ */
.field-name-conduit-summary {
  font-size: 120%;
  font-weight: bold;
  padding: 15px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(255,255,255)),
    color-stop(0.71, rgb(238,238,238))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(255,255,255) 0%,
    rgb(238,238,238) 71%
  );
}

/* Revert summary styles on job list view */
.views-table .field-name-conduit-summary {
  font-size: 100%;
  font-weight: normal;
  padding: 0;
  background-image: none;
}

/* Log and execute output */
td.views-field-conduit-log-value-raw div, .field-name-conduit-result-conduit-execute {
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 130%;
}

.field-name-conduit-result-conduit-execute {
  margin-top: 20px;
  padding: 5px 10px;
  border-left: 10px solid #eeeeee;
}
